body{
    margin: 200px 400px 1px 400px;
    background-image: url(./lll.jpg);
    background-color: aliceblue;  

}
h2{
    background-color: aqua;
    display: flex;
    justify-content: center;
}
h3{
    color: white;
}
.main{
    display: flex;
     justify-content:space-around;
     background-color:black ;

     /* opacity: 0.3; */
     
}